@import "tailwindcss";

/* Opcional: Definindo suas variáveis de tema diretamente no CSS (Padrão v4) */
@theme {
  --color-imdb: #f5c518;
  --color-netflix: #e50914;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}